@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
}

body {
  background-color: rgb(34, 34, 34);
}

#root {
  min-height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0 !important;
  color: rgb(255, 255, 255, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style: none;
  padding-left: 0;
}

small {
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
  color: #fff;
}

h5 {
  color: #fff;
}

hr {
  opacity: 0.1;
  margin: 5px 0;
}

svg {
  height: 1.2rem;
  width: 1.2rem;
}

input {
  height: 45px;
  border-radius: 8px;
}

.mother-container {
  height: 100%;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

label {
  font-size: 0.9rem;
}
/* 
*::-webkit-scrollbar {
  display: none;
} */

@media only screen and (max-width: 768px) {
  .screen-version .mobile {
    display: block !important;
  }

  .screen-version .non-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .screen-version .mobile {
    display: none !important;
  }

  .screen-version .non-mobile {
    display: block !important;
  }
}

.tooltip {
  pointer-events: none;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: #f00;
}
.red-tooltip + .tooltip > .tooltip-arrow {
  border-bottom-color: #f00;
}

/* button css */

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn-delete {
  transform: rotate(45deg);
}

.back-enabled {
  display: flex;
  /* align-items: center; */
  gap: 15px;
}

.btn-delete {
  opacity: 0.5;
  cursor: pointer;
  transform: rotate(45deg);
  transition: 0.2s ease-out 0s;
}

.btn-delete:hover {
  opacity: 1;
  transition: 0.2s ease-out 0s;
}

.btn-back,
.btn-circle {
  background: none;
  background-color: rgb(66, 66, 66);
  border: 1px solid transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 5px;
  font-size: 1.3rem;
  transition: 0.2s ease-out 0s;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out 0s;
}

.btn-back:hover,
.btn-circle:hover {
  background-color: rgb(90, 90, 90);
  transition: 0.2s ease-out 0s;
}

.modal-header .btn-close,
.btn-close {
  background: none;
  background-color: rgb(61, 61, 61);
  border: 1px solid transparent;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  padding: 5px;
  font-size: 1.3rem;
  transition: 0.2s ease-out 0s;
  color: #fff;
  opacity: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:hover {
  background-color: rgb(90, 90, 90);
  border: 1px solid transparent;
  transition: 0.2s ease-out 0s;
  color: #fff;
}

.btn-secondary {
  background-color: rgb(61, 61, 61);
  border: 1px solid transparent;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.btn-secondary:hover {
  background-color: rgb(90, 90, 90);
  border: 1px solid transparent;
  color: #fff;
}

.btn-secondary:focus {
  background-color: rgb(90, 90, 90);
  border: 1px solid transparent;
  color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1) !important;
}

.btn-user-image {
  background-color: #1a1a1a;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-role {
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #9e58e0;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 600;
}

.btn-dark:active,
.btn-dark:focus {
  background-color: #b970ff;
  box-shadow: 0 0 0 4px rgb(41, 41, 41) !important;
}

.btn-dark:hover {
  background-color: #b970ff;
  border: 1px solid rgb(59, 30, 112);
}

.btn-secondary,
.btn-dark {
  border-radius: 3px;
}

.danger {
  color: #ff4949;
}

.danger:hover {
  background-color: #ff4949;
  border: 1px solid #ff4949;
  color: #fff;
}

.btn-link {
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-link:hover,
.btn-link {
  color: #b970ff;
  cursor: pointer;
}

.btn-long {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.custom-small-icons {
  height: 15px;
  width: 15px;
}

/* toggle-pill-color */

/* .toggle-pill-color input[type="checkbox"] {
  display: none;
}
.toggle-pill-color input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 45px;
  height: 1.85em;
  border-radius: 1em;
  background: rgb(90, 90, 90);
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.toggle-pill-color input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 1em;
  background: transparent;
  border: 5px solid #ffffff;
  position: absolute;
  left: 0.3em;
  top: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-pill-color input[type="checkbox"]:checked + label {
  background: rgb(66, 151, 80);
}
.toggle-pill-color input[type="checkbox"]:checked + label:before {
  left: 22px;
  background: rgb(255, 255, 255, 1);
} */

.toggle-pill-color input[type="checkbox"] {
  display: none;
}
.toggle-pill-color input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  background-color: rgb(90, 90, 90);
  /* border: 2px solid #ffffff; */
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  /* opacity: 0.8; */
}
.toggle-pill-color input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
}

.toggle-pill-color input[type="checkbox"]:checked + label:before {
  opacity: 1;
}

/* scroll css */
.scroll-view {
  /* height: calc(100vh - 129px); */
  height: 100%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-right: 5px; */
}

.scroll-view .empty-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: rgb(66, 66, 66);
}

.scroll-view .empty-list img {
  height: 180px;
  width: 180px;
  opacity: 0.3;
}

.scroll-view .empty-list p {
  opacity: 0.3;
  text-align: center;
}

.scroll-view-long {
  height: calc(100vh - 58px);
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 5px;
  /* padding-right: 5px; */
}

.right-margin .scroll-view {
  padding-right: 15px;
  padding: 0px 15px 0 0;
}

.center-margin .scroll-view {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .center-margin .scroll-view {
    margin-right: 0px;
  }
}
/* 
*::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(45, 45, 45);
}

*::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  width: 5px;
  border-radius: 3px;
} */

*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 0 3px 3px 0;
}

*::-webkit-scrollbar-thumb {
  /* border: 0px solid rgba(0, 0, 0, 0); */
  background-clip: padding-box;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
}

/* loader css */
.bar-loader {
  background-color: rgb(61, 61, 61);
  height: 1px;
  width: 50%;
  margin: 0 auto;
  border-radius: 3px;
  position: relative;
  padding: 1px;
}

.bar-loader:before {
  border: 1px solid;
  position: absolute;
}

.bar-loader .loaderBar {
  position: absolute;
  border-radius: 3px;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: #b970ff;
  width: 0;
  animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}

.round-loader {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgb(51 51 51 / 25%);
  background-color: rgb(56, 56, 56);
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  right: 50%;
  left: 50%;
}

.round-loader .loader {
  width: 25px;
  height: 25px;
  border: 3px solid #b970ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner-loader {
  height: 24px;
  display: flex;
  align-items: center;
}

.spinner-loader .loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* three dot css */

.three-dots {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 7px;
  font-size: 1rem;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.three-dots:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

@media only screen and (max-width: 360px) {
  .three-dots {
    display: none;
  }
}

/* form css */
/* form selec */
.form-select-group .input {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.form-select-group .input .icon {
  position: absolute;
  right: 10px;
}

.form-select-group {
  position: relative;
}

.form-select-group input {
  padding-right: 10px;
}

.select-options {
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  background: #1a1a1a;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.253);
  /* border: 1px solid #474747; */
  border-radius: 3px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 1;
}

.select-options .option {
  padding: 10px 15px;
  color: #ffffff;
  cursor: pointer;
}

.select-options .option:hover {
  background-color: rgb(61, 61, 61);
}

.select-options .disabled {
  display: flex;
  justify-content: center;
  background: transparent;
  color: rgb(255, 255, 255, 0.2);
  cursor: default;
}

.select-options .disabled:hover {
  background: transparent;
}

/* The slider itself */
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  padding-right: 90px;
}

.password-input .interactions {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
}

.password-input .interactions .generate-password {
  color: rgb(157, 104, 255);
}

.secure {
  color: rgb(119, 226, 77);
}

.form-group {
  margin-bottom: 15px;
  flex: 1;
}

.form-group label {
  margin-bottom: 5px;
}

input {
  height: 45px;
  border-radius: 8px;
}

label svg {
  margin-right: 5px;
}

.form-checkbox {
  border: 1px solid transparent;
  height: 15px;
  width: 15px;
  background-color: #1a1a1a;
}

.form-search {
  position: relative;
}

.form-search input {
  padding-right: 38px;
}

.form-search .icon {
  position: absolute;
  right: 10px;
  top: 9px;
}

.form-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form-number button {
  border: none;
  background: transparent;
  color: #ffffff;
  position: absolute;
}

.form-number button:first-child {
  left: 10px;
}

.form-number button:last-child {
  right: 10px;
}

input:placeholder-shown {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-pills {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 5px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  border-radius: 3px;
  width: 100%;
  padding: 6px 12px 6px 12px;
  max-height: 105px;
  overflow-y: scroll;
  transition: 0.2s ease-out 0s;
}

.form-pills-active {
  border: 1px solid rgb(157, 104, 255);
  outline: 1px solid rgb(157, 104, 255);
  transition: 0.2s ease-out 0s;
}

.form-pills-active input::placeholder {
  color: rgb(157, 104, 255);
}

.form-pills::-webkit-scrollbar {
  width: 12px;
  background-color: #1a1a1a;
  border-radius: 0 3px 3px 0;
}

.form-pills::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(125, 125, 125, 0.2);
  border-radius: 10px;
}

.form-pills .pill {
  background-color: rgb(61, 61, 61);
  padding: 0 5px 0 7px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 26px;
  gap: 10px;
}

.form-pills input {
  width: 0;
  min-width: 50px;
  flex: 1;
}
.form-pills .pill small {
  color: #ffffff;
}

.form-control-borderless {
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  height: 100%;
}

.form-control {
  color: #fff;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  border-radius: 3px;
  resize: none;
  height: 38px;
  width: 100%;
  transition: 0.2s ease-out 0s;
}

.form-control-disabled {
  display: flex;
  align-items: center;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  background-color: rgb(61, 61, 61);
  height: 35px;
  color: #fff;
  opacity: 0.5;
  border: 1px solid transparent;
}

.form-control:focus {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: none;
  border: 1px solid rgb(157, 104, 255);
  outline: 1px solid rgb(157, 104, 255);
  transition: 0.2s ease-out 0s;
}

.form-control:focus::placeholder {
  color: rgb(157, 104, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

textarea {
  padding-right: 5px !important;
}

.form-control::-webkit-scrollbar {
  width: 12px;
  background-color: #1a1a1a;
  border-radius: 0 3px 3px 0;
}

.form-control::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(125, 125, 125, 0.2);
  border-radius: 10px;
}

/* margin css */
.standard-stack {
  display: flex;
  flex-direction: column;
}

.margin-content {
  height: 100%;
  position: relative;
  /* height: calc(100vh - 182px); */
}

.center-margin .margin-content {
  display: flex;
  flex-direction: column;
}

.padding-side {
  padding-left: 15px;
  padding-right: 15px;
}

.form-error {
  border: 1px solid #ff4949;
}

.form-error:focus::placeholder {
  color: #ff4949 !important;
}

.form-error:focus {
  border: 1px solid #ff4949;
  outline: 1px solid #ff4949;
  box-shadow: none;
}

.error-message {
  color: #ff4949;
}

.password-generator-input {
  text-align: center;
}

/* login register css */
.login-register-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-register-header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.login-register-header .logo h3 {
  margin-bottom: 0;
  font-weight: 400;
  color: #ffffff;
}

.login-register-header .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

.login-register-header .icon {
  height: 30px;
  width: 30px;
}

.login-registration-options-separator {
  display: flex;
  justify-content: center;
  width: 100%;
}

.password-hint {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(119, 226, 77);
  background-color: rgba(57, 255, 146, 0.055);
  /* border: 1px solid #474747; */
}

.registration-agree-note .btn-link {
  color: #b970ff;
}

/* search css */

.search {
  position: relative;
}

.search-show div:nth-child(1) {
  display: flex;
  gap: 5px;
  width: 100%;
}

.search .list-view-btn {
  cursor: pointer;
}

.search .icon {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.search-hide,
.search-hide > * {
  opacity: 0 !important;
  width: 0 !important;
}

/* sub body css */
.sub-body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 15px;
}

.sub-body-small {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}

.left-margin {
  height: 100vh;
  /* flex: 0 1 200px; */
  padding: 55px 0 40px 0;
}

.center-margin {
  height: 100vh;
  flex: 0 1 450px;
  border-left: 10px solid #1a1a1a;
  border-right: 10px solid #1a1a1a;
  padding: 55px 0 0 0;
}

.right-margin {
  height: 100vh;
  flex: 0 1 450px;
  padding: 55px 0 0 15px;
}

@media only screen and (max-width: 768px) {
  .right-margin {
    display: none;
  }

  .center-margin {
    border-right: none;
  }

  .center-margin .scroll-view .screen-version .mobile .padding-side {
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .left-margin {
    /* background-color: red; */
    flex: 0 1 50px;
  }
}

.sub-body .margin {
  display: flex;
}

/* sidenav css */
.side-nav {
  /* border: 1px solid #474747; */
  min-width: 60px;
  padding-right: 15px;
  border-radius: 3px;
  margin-top: 22px;
}

.side-nav .standard-stack {
  gap: 2px;
}

.sidenav-hr {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 12px;
}

.sidenav-button {
  border-radius: 3px;
  padding: 8px 10px;
  transition: 0.2s ease-out 0s;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem !important;
}

.sidenav-button svg {
  color: rgba(255, 255, 255, 0.5);
  min-height: 20px !important;
  min-width: 20px !important;
  transition: 0.2s ease-out 0s;
}

.sidenav-button p {
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.2s ease-out 0s;
}

@media only screen and (max-width: 480px) {
  .sidenav-button {
    display: flex;
    justify-content: center;
  }

  .sidenav-button p {
    display: none !important;
  }

  .new-notif svg {
    color: #ffffff !important;
  }

  .side-nav h5,
  .side-nav form {
    display: none;
  }
}

.side-nav .selected p,
.side-nav .selected {
  /* color: #b970ff; */
  color: #b970ff;
}

.side-nav .selected {
  background-color: rgb(61, 61, 61);
}

.sidenav-button:hover p {
  /* transition: 0.2s ease-out 0s; */
  color: rgba(255, 255, 255);
}

.side-nav .new-notif p {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav .new-notif p .notif-ball {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #ffffff;
}

.sidenav-button:hover {
  color: rgba(255, 255, 255);
  background-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

.side-nav .category-title,
.side-nav .category-folder-title {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 50%;
}

.side-nav .category-folder-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.side-nav .category-folder-title p {
  flex: 1;
}

.side-nav .category-folder-title:hover {
  opacity: 100%;
  transition: 0.2s ease-out 0s;
}

.side-nav .category-folder-title p {
  display: flex;
  gap: 5px;
  min-width: 0;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 50px; */
}

@media only screen and (max-width: 480px) {
  .side-nav .category-folder-title .full {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .side-nav .category-folder-title .short {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .side-nav {
    justify-content: center;
  }

  .sidenav-hr {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .side-nav .category-folder-title .icon {
    display: none;
  }

  .side-nav .category-folder-title {
    display: flex;
    justify-content: center;
  }

  .side-nav .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 10px;
  }
}

.side-nav .socials {
  opacity: 0.5;
  display: flex;
  padding: 8px 10px;
}

/* header css */
.header {
  background-color: rgb(45, 45, 45);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 3px 3px -1px rgb(0, 0, 0, 0.2);
}

.header .right {
  display: flex;
  align-items: center;
}

.header .right .settings {
  color: #fff;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out 0s;
  border-radius: 3px;
  border-radius: 50%;
  background-color: rgb(61, 61, 61);
}

.header .right .image {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1a1a1a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px !important;
}

.header .right .settings:hover {
  background-color: rgb(90, 90, 90);
  transition: 0.2s ease-out 0s;
}

.header .right .selected {
  background-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

.header .margin {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 0 1 1140px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .header .margin {
    flex: 0 1 600px;
  }
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header .logo h3 {
  font-weight: 400;
  color: #fefdff;
}

.header .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .login-register-header .logo h3,
  .header .logo h3 {
    font-size: 1.3rem;
  }

  .header .logo .half {
    display: none;
  }
}

.header .icon {
  height: 30px;
  width: 30px;
  color: #b970ff;
}

.header h3 {
  font-weight: 400;
  margin-bottom: 0px;
}

.header .nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 840px) {
  .header .nav {
    gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .header .nav {
    display: none;
  }
}

.header .btn-secondary {
  color: #fff;
}

.header .btn-secondary .image {
  font-size: 1.5rem;
}

/* footer css */

.footer {
  /* background-color: #000; */
  background-color: #1a1a1a;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
  position: relative;
}

.footer .margin {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 0 1 1000px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer .margin {
    flex: 0 1 600px;
  }
}

.footer .copyright {
  opacity: 50%;
  font-weight: 100;
}

.footer .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.footer .logo h3 {
  color: #fff;
  font-size: 1.2rem;
}

.footer .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .footer .logo .half {
    display: none;
  }
}

.footer .logo .icon {
  height: 25px;
  width: 25px;
  color: #fff;
}

.footer h3 {
  margin-bottom: 0px;
}

.footer .nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 840px) {
  .footer .nav {
    gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .footer .nav {
    display: none;
  }
}

.footer .nav .item {
  color: #fff;
}

/* tab css */
.tab {
  display: flex;
  gap: 2px;
  width: 100%;
}

.tab .pills {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 35px;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.tab .pills p {
  color: rgba(255, 255, 255, 0.5);
}

.tab .selected {
  background-color: rgb(61, 61, 61);
}

.tab .selected p {
  color: #b970ff;
}

/* site warning css */
.site-warning {
  border: 2px solid #b970ff;
  border-radius: 3px;
  margin-top: 23px;
}

.site-warning .title {
  background: linear-gradient(90deg, #b970ff 0%, #b970ff 100%);
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #b970ff;
  color: #fff;
}

.site-warning .title h5 {
  margin-bottom: 0;
  font-weight: 600;
}

.site-warning .title .icon {
  font-size: 1.4rem;
}

.site-warning .message {
  padding: 15px;
}

.site-warning .message p span {
  color: #fff;
  font-weight: 600;
}

/* vault members css */
.right-vault-members {
  background-color: rgb(45, 45, 45);
  /* border: 1px solid rgb(61, 61, 61); */
  border-radius: 3px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.vault-members h5 {
  padding: 15px 15px 0 15px;
}

.vault-members .role-title {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}

.vault-members .role-title:hover {
  opacity: 100%;
  transition: 0.2s ease-out 0s;
}

.vault-members .member-count {
  margin: 0 0 10px 0;
}

.offline-members .member {
  opacity: 0.3;
}

.offline-members .member:hover {
  opacity: 1;
}

.vault-members .member {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s ease-out 0s;
  margin-bottom: 2px;
  gap: 10px;
}

.center-margin .vault-members .member {
  cursor: default;
  align-items: flex-start;
}

.vault-members .member .vault-owner {
  color: #ffffff;
}

.vault-members .member svg {
  height: 15px;
  width: 15px;
}

.vault-members .member .name {
  flex-grow: 1;
}

.vault-members .member .name .vault-owner-tag {
  background-color: #9e58e0;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.vault-members .member .name .vault-owner-tag svg {
  height: 13px;
  width: 13px;
}

.vault-members .member .name p {
  font-weight: 200;
  display: flex;
  gap: 5px;
}

.vault-members .image {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1a1a1a;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* color: #fff;
  opacity: 50%;
  height: 20px;
  width: 20px; */
  position: relative;
}

.vault-members .image .online,
.vault-members .image .offline,
.vault-members .image .idle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  outline: 2px solid rgb(37, 37, 37);
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: 0.2s ease-out 0s;
}

.right-margin .vault-members .image .online,
.right-margin .vault-members .image .offline,
.right-margin .vault-members .image .idle {
  outline: 2px solid rgb(45, 45, 45);
}

.vault-members .member:hover .online,
.vault-members .member:hover .offline,
.vault-members .member:hover .idle {
  outline-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

.vault-members .image .online {
  background: rgb(67, 184, 87);
}

.vault-members .image .idle {
  background: rgb(255, 170, 42);
}

.vault-members .image .offline {
  background: rgb(117, 117, 117);
}

.vault-members .member .roles {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.role-tag {
  display: flex;
  align-items: center;
  background-color: rgb(61, 61, 61);
  border-radius: 3px;
  height: 24px;
  padding: 0 7px;
}

.vault-members .role-tag {
  gap: 10px;
  padding: 0 5px 0 7px;
}

.role-tag small {
  font-size: 0.8rem;
  color: #ffffff;
  opacity: 1;
}

/* other links css */
.other-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  opacity: 50%;
  padding: 0 30px;
  transition: 0.2s ease-out 0s;
  width: 100%;
}

.other-links .btn-link {
  color: #fff;
  cursor: pointer;
  font-weight: 100;
}

.other-links .btn-link:hover,
.other-links .btn-link:focus {
  color: #fff;
  transition: 0.2s ease-out 0s;
}

/* page css */
.page-header-with-close,
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 3px -1px rgb(0, 0, 0, 0.2);
  padding-top: 22px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  /* position: absolute; */
}

/* .right-margin .page-header {
  padding-top: 22px;
} */

.modal-header .page-header-with-close,
.page-header {
  box-shadow: none;
  /* padding-top: 0px; */
}

.modal-header .page-header-with-close {
  box-shadow: none;
  padding-top: 0px;
}

.page-header-with-close .back-enabled ~ .confirm-component,
.page-header .back-enabled ~ .confirm-component {
  width: auto;
}

.page-header-with-close .back-enabled,
.page-header .back-enabled {
  flex-grow: 3;
}

.page-header-with-close div:nth-child(1),
.page-header div:nth-child(1) {
  display: flex;
  gap: 10px;
}

.page-header-with-close div:nth-child(2),
.page-header div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.page-header-fixed {
  background: rgb(45, 45, 45);
  padding-bottom: 10px;
}

.page-footer {
  margin: 10px 0 15px 0;
}

/* password list css */
.password-list,
.password-grid {
  height: calc(100% - 70px);
}

.password-list .count,
.password-grid .count {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .password-list .scroll-view div {
  display: flex;
  flex-direction: column;
  gap: 2px;
} */

/* password grid css */
.password-grid .contents {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 2px;
  /* margin: 10px 0; */
}

.password-card {
  padding: 10px;
  border-radius: 3px;
  width: calc(25% - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-out 0s;
}

.password-card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-card-selected,
.password-card:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

.password-card .name .siteName {
  color: rgb(49, 138, 255);
  font-weight: 600;
}

.password-card .name .trashed {
  color: #ff4949;
  font-weight: 600;
}

.password-card .name .link-icon {
  color: #fff;
  opacity: 50%;
}

.password-card .name .favorited {
  color: rgb(255, 170, 42);
}

.password-card .icon {
  background-color: transparent;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.password-card .empty-icon {
  text-transform: uppercase;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}

.password-card .name .siteName {
  color: rgb(77, 154, 255);
  font-weight: 600;
  font-size: 0.9rem;
}

/* password item css */
.list-view-btn {
  padding: 8px;
  font-size: 1.3rem;
  line-height: 0;
  /* padding: 5px 8px; */
}

.password-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  margin-bottom: 2px;
  transition: 0.2s ease-out 0s;
}

@media only screen and (max-width: 768px) {
  .password-item {
    border-radius: 0 5px 5px 0;
  }
}

.password-item-selected .name small,
.password-item-selected {
  color: #b970ff !important;
}

.password-item-selected,
.password-item:hover {
  background-color: rgb(45, 45, 45);
  transition: 0.2s ease-out 0s;
}

.password-item .name {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password-item .name a,
.password-item .name span,
.password-item .name small {
  overflow: hidden;
  min-width: 100%;
  width: 0;
}

.password-item .name .siteName {
  color: rgb(77, 154, 255);
  font-weight: 600;
}

.password-item .name .trashed {
  color: #ff4949;
  font-weight: 600;
}

.password-item .name .link-icon {
  color: #fff;
  opacity: 50%;
}

.password-item .name .favorited {
  color: rgb(255, 170, 42);
}

.password-item .icon {
  background-color: transparent;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
}

.password-item .empty-icon {
  text-transform: uppercase;
  background-color: #1a1a1a;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #fff;
}

.last-updated {
  display: flex;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.last-updated a {
  border: none;
  min-height: 35px;
  min-width: 35px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-updated a:hover {
  background-color: rgb(90, 90, 90);
  transition: 0.2s ease-out 0s;
}

/* alert css */
.warning-alert {
  border-radius: 3px;
  border-left: 5px solid rgb(189, 138, 0);
  background-color: rgba(255, 202, 57, 0.055);
  padding: 10px 15px;
}

.warning-alert .alert-header {
  color: rgb(189, 138, 0);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.warning-alert .alert-header .icon {
  font-size: 1.2rem;
}

.primary-alert {
  border-radius: 3px;
  border-left: 5px solid rgb(60, 151, 255);
  background-color: rgba(57, 110, 255, 0.055);
  padding: 10px 15px;
}

.primary-alert .alert-header {
  color: rgb(60, 151, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.primary-alert .alert-header .icon {
  font-size: 1.2rem;
}

.interactive-alert .interaction {
  display: flex;
  gap: 20px;
}

.interactive-alert .interaction .btn-link,
.interactive-alert .interaction .btn-link small {
  color: rgb(60, 151, 255);
}

.delete-account {
  color: #ff4949;
}

/* roles css */
.roles-list-header {
  display: flex;
  justify-content: space-between;
}

.add-role-modal {
  max-height: 50%;
}

.role-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
  border-radius: 0 3px 3px 0;
  /* flex-wrap: wrap; */
}

.role-item:hover {
  background-color: rgb(45, 45, 45);
  transition: 0.2s ease-out 0s;
}

.role-item > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.role-item .info {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.role-item .name > div {
  flex-grow: 1;
}

.role-item .name {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.role-item .name p {
  width: 0;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role-item .members-with-role {
  display: flex;
  justify-content: end;
}

.role-item span {
  display: flex;
  gap: 10px;
}

.role-item .members-with-role .member {
  height: 35px;
  width: 35px;
  background-color: #1a1a1a;
  outline: 2px solid rgb(34, 34, 34);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-right: -5px;
  transition: 0.2s ease-out 0s;
}

.role-item .last-member {
  background-color: #1a1a1a;
}

.role-item:hover .members-with-role .member {
  outline: 2px solid rgb(45, 45, 45);
  transition: 0.2s ease-out 0s;
}

.role-count {
  margin: 0 0 10px 0;
}

/* filters css */
.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* password generator css */

.form-agree {
  display: flex;
  align-items: flex-start;
}

.form-agree input {
  height: auto;
  margin-top: 3px;
}

/* form .form-group:last-child {
  margin-bottom: 0;
} */

.form-group-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

/* add item */

.add-item-modal .options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.add-item-modal .options button {
  flex: 1;
}
/* 
.add-item-modal form {
  padding-left: 1px;
} */

.add-item-modal .item-type {
  margin-bottom: 15px;
}

.add-item-modal .item-type label {
  margin-bottom: 5px;
}

.add-item-modal .item-type .types {
  background: rgb(45, 45, 45);
  padding: 10px;
  border-radius: 3px;
}

.add-item-modal .item-image {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-modal .item-image .image {
  position: relative;
}

.add-item-modal .item-image .image img {
  height: 100px;
  border-radius: 15px;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.253); */
}

.add-item-modal .item-image .image .default {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.253); */
}

.add-item-modal .item-image .image .update-image {
  position: absolute;
  border-radius: 50%;
  bottom: -10px;
  right: -10px;
  border: 3px solid rgb(34, 34, 34);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-favorited {
  height: 30px;
  width: 30px;
  color: rgb(255, 170, 42);
  transition: 0.2s ease-out 0s;
}

.form-unfavorited {
  height: 30px;
  width: 30px;
  color: rgb(90, 90, 90);
  transition: 0.2s ease-out 0s;
}

.password-generator-form {
  background-color: rgb(45, 45, 45);
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.password-generator-form .form-group-horizontal {
  display: flex;
  align-items: center;
}

.password-generator .generator-field {
  display: flex;
  align-items: center;
  position: relative;
}

.password-generator hr {
  margin-bottom: 20px;
}

.password-generator .length {
  text-align: center;
}

.password-generator .generator-field input {
  border-radius: 3px 0 0 3px;
}

.password-generator .generator-field .secure {
  font-size: 1.3rem;
  position: absolute;
  right: 55px;
}

.password-generator .generator-field button {
  height: 45px;
  width: 45px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
}

.generate-use {
  display: flex;
  gap: 10px;
}

.generate-use button {
  flex-grow: 1;
}

.generator-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-footer {
  width: 100%;
  position: absolute;
  bottom: -50px;
  border: none;
  background-color: transparent;
}

.custom-modal-backdrop.show {
  background-color: #1a1a1a;
  opacity: 1;
}

@media only screen and (min-width: 576px) {
  .login-modal {
    width: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .login-modal,
  .registration-modal {
    width: auto;
  }

  .login-title {
    text-align: center;
  }

  .login-modal .modal-body,
  .registration-modal .modal-body {
    /* margin-top: 50px; */
    border: none;
    display: flex;
    flex-direction: column;
  }

  .login-modal .modal-content,
  .registration-modal .modal-content {
    box-shadow: none;
  }

  .login-modal .modal-header,
  .sregistration-modal .modal-header {
    border: none;
    background-color: transparent;
    color: #fff;
    padding-right: 23px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }

  .modal-footer {
    bottom: -80px;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.253);
}

.modal-body {
  /* border: 1px solid #474747; */
  background-color: rgb(34, 34, 34);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.confirmation-modal-body {
  /* border: 1px solid #474747; */
  border-radius: 5px !important;
}

.modal-header {
  /* border: 1px solid #474747; */
  background-color: rgb(46, 46, 46);
  color: #fff;
  padding-right: 23px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.confirmation-modal .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-component {
  width: 100%;
}

/* audit log css */
.audit-log-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
  display: flex;
  align-items: flex-start;
}

.audit-log-item .image {
  background-color: #1a1a1a;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-log-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.audit-log-item span {
  opacity: 50%;
}

/* sharingCenter css */
.conversation-list {
  height: calc(100vh - 182px);
  display: flex;
  justify-content: end;
}

.conversation-list .scroll-view {
  justify-content: end;
}

.conversation-list .date-separator {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conversation-list .date-separator hr {
  flex: 1;
}

.conversation-list .date-separator small {
  background-color: rgb(45, 45, 45);
  padding: 5px;
  border-radius: 3px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
  border: none;
  background-color: transparent;
  text-align: left;
  width: 100%;
}

.message:hover {
  background-color: rgb(45, 45, 45);
  transition: 0.2s ease-out 0s;
}

.message > div:last-child {
  display: flex;
  gap: 15px;
}

.message .user {
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: 0.2s ease-out 0s;
}

.message .user-alternative {
  min-width: 40px;
}

.message .message-text .trailing {
  height: 0;
  opacity: 0;
  transition: 0.2s ease-out 0s;
}

.message:focus .message-text .trailing {
  height: 25px;
  opacity: 1;
  transition: 0.2s ease-out 0s;
}

.message .user .image {
  background-color: #1a1a1a;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message .message-text {
  display: flex;
  flex-direction: column;
}

.message .message-text .name p {
  margin-bottom: 5px;
  color: rgb(255, 255, 255, 1);
}

.message .message-text p {
  opacity: 0.8;
}

.message .reply {
  display: flex;
  align-items: end;
  gap: 10px;
}

.message .reply .replied-message {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message .reply .pointer {
  height: 23px;
  width: 40px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.message .reply .pointer .line {
  background-color: transparent;
  border-top: 3px solid rgb(90, 90, 90);
  border-left: 3px solid rgb(90, 90, 90);
  border-radius: 5px 0 0 0;
  height: 50%;
  width: 50%;
}

.message .reply .image {
  background-color: #1a1a1a;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

/* enter-message css */
.enter-message {
  width: 100%;
  background-color: rgb(45, 45, 45);
  padding: 10px 15px;
  position: absolute;
  bottom: 0px;
}

.enter-message .form-group {
  margin-bottom: 0;
  width: 100%;
}

.enter-message .send {
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  color: #b970ff;
  transform: rotate(90deg);
  transition: 0.2s ease-out 0s;
}

.enter-message .send:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.2s ease-out 0s;
}

.form-message-group {
  display: flex;
  gap: 5px;
  align-items: end;
}

.message-lazy {
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
  border: none;
  background-color: transparent;
  text-align: left;
  gap: 10px;
}

.message-lazy .image {
  background-color: rgb(45, 45, 45);
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
}

.message-lazy .message-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-lazy .message-text .name {
  height: 15px;
  /* width: 100%; */
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
}

.message-lazy .message-text .text {
  display: flex;
  gap: 5px;
}

.message-lazy .message-text .text p {
  height: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
}

/* my account css */
.my-account .user {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.my-account .user .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* upload modal css */
.upload-photo-modal .uploaded-image {
  height: 300px;
  /* width: auto; */
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 3px;
}

.upload-photo-modal .uploaded-image img {
  display: block;
  max-height: 100%;
  aspect-ratio: 1/1;
  width: auto;
  height: auto;
  object-fit: cover;
  /* width: auto; */
}

.upload-photo-modal .uploaded-image .default {
  max-height: 100%;
  background-color: red;
}

.upload-photo-modal .uploaded-image .btn-secondary {
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.253);
}
