@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
}

body {
  background-color: rgb(27, 27, 27);
}

#root {
  min-height: 100vh;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0 !important;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style: none;
  padding-left: 0;
}

small {
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: 600;
  color: #fff;
}

h5 {
  color: #fff;
}

hr {
  margin: 5px 0;
}

svg {
  height: 1.2rem;
  width: 1.2rem;
}

input {
  height: 45px;
  border-radius: 8px;
}

.mother-container {
  height: 100%;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

*::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .screen-version .mobile {
    display: block !important;
  }

  .screen-version .non-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .screen-version .mobile {
    display: none !important;
  }

  .screen-version .non-mobile {
    display: block !important;
  }
}

/* button css */
.back-enabled {
  display: flex;
  /* align-items: center; */
  gap: 15px;
}

.btn-back {
  font-size: 1.3rem;
  /* margin-top: 4px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  transition: 0.2s ease-out 0s;
}

.btn-back:hover {
  background-color: #44444470;
  transition: 0.2s ease-out 0s;
}

.modal-header .btn-close,
.btn-close {
  background: none;
  border: 1px solid #474747;
  border-radius: 50%;
  height: 25px !important;
  width: 25px !important;
  padding: 5px;
  font-size: 1.3rem;
  transition: 0.2s ease-out 0s;
  color: #fff;
  opacity: 100%;
}

.btn-close:hover {
  background-color: #44444470;
  transition: 0.2s ease-out 0s;
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #474747;
  color: #fff;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #44444470;
  border: 1px solid #474747;
  color: #fff;
}

.btn-secondary:focus {
  background-color: #44444470;
  border: 1px solid #474747;
  color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.144) !important;
}

.btn-dark {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(124, 55, 252);
  border: 1px solid rgb(59, 30, 112);
  color: #fff;
  font-weight: 600;
}

.btn-dark:active,
.btn-dark:focus {
  background-color: rgb(102, 50, 197);
  box-shadow: 0 0 0 4px #44444470 !important;
}

.btn-dark:hover {
  background-color: rgb(133, 88, 218);
  border: 1px solid rgb(59, 30, 112);
}

.danger {
  color: #f34343;
}

.danger:hover {
  background-color: #f34343;
  border: 1px solid #f34343;
  color: #fff;
}

.btn-link {
  /* font-weight: 600; */
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-link:hover,
.btn-link {
  color: #9c9aff;
  cursor: pointer;
}

.btn-long {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* loader css */
.bar-loader { 
  background-color: rgb(41, 41, 41);
  height: 1px;
  width: 100%; 
  margin:0 auto;
  border-radius:10px;
  position:relative;
  padding:1px;
}

.bar-loader:before {
  border:1px solid ; 
  position:absolute;
}

.bar-loader .loaderBar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:rgb(124, 55, 252); 
  width:0;
  animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}

.round-loader {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgb(51 51 51 / 25%);
  background-color: rgb(56, 56, 56);
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  right: 50%;
  left: 50%;
}

.round-loader .loader {
  width: 25px;
  height: 25px;
  border: 3px solid rgb(124, 55, 252);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

/* three dot css */

.three-dots {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 7px;
  font-size: 1rem;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.three-dots:hover {
  background-color: #44444470;
  transition: 0.2s ease-out 0s;
}

@media only screen and (max-width: 360px) {
  .three-dots {
    display: none;
  }
}

/* form css */
/** FF*/
.form-select-group .input {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.form-select-group .input .icon {
  position: absolute;
  right: 10px;
}

.form-select-group {
  position: relative;
}

.form-select-group input {
  padding-right: 10px;
}

.select-options {
  position: absolute;
  width: 100%;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.253);
  border: 1px solid #474747;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 1;
}

.select-options .option {
  padding: 10px 15px;
  cursor: pointer;
}

.select-options .option:hover {
  background-color: #44444470;
}

/* The slider itself */
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  padding-right: 90px;
}

.password-input .interactions {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 10px;
  font-size: 1.3rem;
}

.password-input .interactions .generate-password {
  color: rgb(157, 104, 255);
}

.secure {
  color: rgb(119, 226, 77);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

input {
  height: 45px;
  border-radius: 8px;
}

.form-checkbox {
  border: 1px solid #474747;
  height: 15px;
  width: 15px;
  background-color: rgb(157, 104, 255);
}

.form-control {
  color: #fff;
  border: 1px solid #474747;
  background-color: transparent;
}

input:placeholder-shown {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control:disabled {
  background-color: rgb(39, 39, 39);
  border: 1px solid #474747;
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid rgb(157, 104, 255);
  outline: 1px solid rgb(157, 104, 255);
}

.form-control:focus::placeholder {
  color: rgb(157, 104, 255);
}

.standard-stack {
  display: flex;
  flex-direction: column;
}

.margin-content {
  padding-top: 20px;
}

.padding-side {
  padding-left: 15px;
  padding-right: 15px;
}

.form-error {
  border: 1px solid #f34343;
}

.form-error:focus::placeholder {
  color: #f34343 !important;
}

.form-error:focus {
  border: 1px solid #f34343;
  outline: 1px solid #f34343;
  box-shadow: none;
}

.error-message {
  color: #f34343;
}

.password-generator-input {
  text-align: center;
  padding-right: 38px;
}

/* login register css */
.login-register-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-register-header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.login-register-header .logo h3 {
  margin-bottom: 0;
  color: #9c9aff;
}

.login-register-header .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

.login-register-header .icon {
  font-size: 2rem;
  color: #9c9aff;
}

.password-hint {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(119, 226, 77);
  background-color: rgba(57, 255, 146, 0.055);
  /* border: 1px solid #474747; */
}

.registration-agree-note .btn-link {
  color: #9c9aff;
}

/* sub body css */
.sub-body {
  display: flex;
  justify-content: center;
  /* padding-top: 55px; */
  min-height: 100vh;
  height: 100%;
  margin: 0 15px;
}

.sub-body-small {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  /* min-height: 100vh; */
  /* height: 100%; */
}

.left-margin {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  flex: 0 1 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.center-margin {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  flex: 0 1 400px;
  /* background-color: rgb(34, 34, 34); */
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.right-margin {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  flex: 0 1 400px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .right-margin {
    display: none;
  }

  .center-margin {
    border-right: none;
  }

  .center-margin .scroll-view .screen-version .mobile .padding-side {
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .left-margin {
    /* background-color: red; */
    flex: 0 1 50px;
  }
}

.sub-body .margin {
  display: flex;
}

/* sidenav css */
.side-nav {
  /* border: 1px solid #474747; */
  padding-right: 15px;
  border-radius: 5px;
}

.sidenav-hr {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 12px;
}

.sidenav-button {
  border-radius: 5px;
  padding: 8px 10px;
  transition: 0.2s ease-out 0s;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem !important;
}

.sidenav-button svg {
  min-height: 16px !important;
  min-width: 16px !important;
}

.sidenav-button p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 480px) {
  .sidenav-button {
    display: flex;
    justify-content: center;
  }

  .sidenav-button p {
    display: none;
  }

  .side-nav h5,
  .side-nav form {
    display: none;
  }
}

.side-nav .selected p,
.side-nav .selected {
  color: #9c9aff;
  font-weight: 600;
}

.side-nav .selected {
  background-color: #44444470;
}

.sidenav-button:hover {
  background-color: #44444470;
  transition: 0.2s ease-out 0s;
}

.side-nav .category-title,
.side-nav .category-folder-title {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 50%;
}

.side-nav .category-folder-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-out 0s;
  cursor: pointer;
}

.side-nav .category-folder-title:hover {
  opacity: 100%;
  transition: 0.2s ease-out 0s;
}

.side-nav .category-folder-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .side-nav {
    justify-content: center;
  }

  .sidenav-hr {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .side-nav .category-folder-title .icon {
    display: none;
  }

  .side-nav .category-folder-title {
    display: flex;
    justify-content: center;
  }

  .side-nav .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 10px;
  }
}

.side-nav .socials {
  display: flex;
  padding: 8px 10px;
}

/* header css */
.header {
  background-color: rgb(41, 41, 41);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
  position: relative;
}

.header .right {
  display: flex;
  align-items: center;
}

.header .right .settings {
  color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out 0s;
  border-radius: 5px;
}

.header .right .image {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgb(124, 55, 252);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px !important;
}

.header .right .settings:hover {
  background-color: #5c636a;
  transition: 0.2s ease-out 0s;
}

.header .margin {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 0 1 1000px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .header .margin {
    flex: 0 1 600px;
  }
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

  .header .logo h3 {
  color: #9c9aff;
}

.header .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .login-register-header .logo h3,
  .header .logo h3 {
    font-size: 1.3rem;
  }

  .header .logo .half {
    display: none;
  }
}

.header .icon {
  height: 30px;
  width: 30px;
  color: #9c9aff;
}

.header h3 {
  margin-bottom: 0px;
}

.header .nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 840px) {
  .header .nav {
    gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .header .nav {
    display: none;
  }
}

.header .btn-secondary {
  color: #fff;
}

.header .btn-secondary .image {
  font-size: 1.5rem;
}

/* footer css */

.footer {
  /* background-color: #000; */
  background-color: rgb(17, 17, 17);
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
  position: relative;
}

.footer .margin {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 0 1 1000px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer .margin {
    flex: 0 1 600px;
  }
}

.footer .copyright {
opacity: 50%;
font-weight: 100;
}


.footer .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.footer .logo h3 {
  color: #fff;
  font-size: 1.2rem;
}

.footer .logo .half {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .footer .logo .half {
    display: none;
  }
}

.footer svg {
  height: 25px;
  width: 25px;
  color: #fff;
}

.footer h3 {
  margin-bottom: 0px;
}

.footer .nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 840px) {
  .footer .nav {
    gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .footer .nav {
    display: none;
  }
}

.footer .nav .item {
  color: #fff;
}

/* password css */

/* site warning css */
.site-warning {
  border: 2px solid rgb(124, 55, 252);
  border-radius: 5px;
}

.site-warning .title {
  background: linear-gradient(
    90deg,
    rgb(124, 55, 252) 0%,
    rgb(124, 55, 252) 100%
  );
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(124, 55, 252);
  color: #fff;
}

.site-warning .title h5 {
  margin-bottom: 0;
  font-weight: 600;
}

.site-warning .title .icon {
  font-size: 1.4rem;
}

.site-warning .message {
  padding: 15px;
}

.site-warning .message p span {
  color: #fff;
  font-weight: 600;
}

/* vault members css */
.right-vault-members {
  background-color: rgb(34, 34, 34);
  border: 1px solid #474747;
  border-radius: 5px;
  padding-bottom: 10px;
}

.vault-members h5 {
  padding: 15px 15px 0 15px;
  margin-bottom: 0;
}

.vault-members .role {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}

.vault-members .role:hover {
  opacity: 100%;
  transition: 0.2s ease-out 0s;
}

.vault-members .member {
  display: flex;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s ease-out 0s;
  align-items: flex-start;
}

.vault-members .member .vault-owner {
  color: #9c9aff;
}

.vault-members .member:hover {
  background-color: #44444470;
  display: flex;
  transition: 0.2s ease-out 0s;
}

.vault-members .member .name {
  flex-grow: 1;
}

.vault-members .image {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgb(124, 55, 252);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* color: #fff;
  opacity: 50%;
  height: 20px;
  width: 20px; */
}

/* other links css */
.other-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  opacity: 50%;
  padding: 0 30px;
  transition: 0.2s ease-out 0s;
  width: 100%;
}

.other-links .btn-link {
  color: #fff;
  cursor: pointer;
}

.other-links .btn-link:hover,
.other-links .btn-link:focus {
  color: #fff;
  transition: 0.2s ease-out 0s;
}

/* page css */
.page-header-with-close,
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 769px) and (max-width: 850px) {
  .page-header:not(.page-header-long) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 925px) {
  .page-header-long {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 555px) {
  .page-header-long {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .page-header-long {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 10px;
  }
}

@media only screen and (max-width: 368px) {
  .page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 10px;
  }
}

.page-header-with-close .back-enabled ~ .confirm-component,
.page-header .back-enabled ~ .confirm-component {
  width: auto;
}

.page-header-with-close .back-enabled,
.page-header .back-enabled {
  flex-grow: 3;
}

.page-header-with-close div:nth-child(1),
.page-header div:nth-child(1) {
  display: flex;
  width: 100%;
}

.page-header-with-close div:nth-child(2),
.page-header div:nth-child(2) {
  display: flex;
  gap: 5px;
}

.page-footer {
  margin-top: 10px;
}

/* password list css */

.password-list .count,
.password-grid .count {
  margin: 5px 0;
}

/* password grid css */
.password-grid .contents {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* margin: 10px 0; */
}

.password-grid .contents>* {
  flex: 0 0 49%;
}

@media only screen and (max-width: 370px) {
  .password-grid .contents {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* margin: 10px 0; */
  }
  
  .password-grid .contents>* {
    flex: 0 0 100%;
  }
}
.password-card {
  padding: 15px;
  border: 1px solid #474747;
  border-radius: 5px;
  min-width: 0;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.253);
  /* flex: 0 0 50%; */
}

.password-card>* {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.password-card .head {
  display: flex;
  justify-content: space-between;
}

.password-card-selected .name small,
.password-card-selected {
  color: #9c9aff !important;
}

.password-card-selected,
.password-card:hover {
  background-color: #44444470;
}

.password-card .label {
  display: flex;
  align-items: flex-end;
}

.password-card .name {
  flex-grow: 1;
}

.password-card .name .siteName {
  color: rgb(49, 138, 255);
  font-weight: 600;
}

.password-card .name .trashed {
  color: #f34343;
  font-weight: 600;
}

.password-card .name .link-icon {
  color: #fff;
  opacity: 50%;
}

.password-card .name .favorited {
  color: rgb(255, 170, 42);
}

.password-card .icon {
  background-color: transparent;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.password-card .empty-icon {
  text-transform: uppercase;
  /* background-color: rgb(124, 55, 252); */
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}

/* password item css */
.list-view-btn {
  font-size: 1.3rem;
  line-height: 0;
  padding: 5px 8px;
}

.list-view-btn:nth-child(2) {
  transform: scaleX(-1);
}

.password-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .password-item {
    border-radius: 0 5px 5px 0;
  }
}

.password-item-selected .name small,
.password-item-selected {
  color: #9c9aff !important;
}

.password-item-selected,
.password-item:hover {
  background-color: #44444470;
}

.password-item .name {
  flex-grow: 1;
}

.password-item .name a,
.password-item .name span,
.password-item .name small {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password-item .name .siteName {
  color: rgb(49, 138, 255);
  font-weight: 600;
}

.password-item .name .trashed {
  color: #f34343;
  font-weight: 600;
}

.password-item .name .link-icon {
  color: #fff;
  opacity: 50%;
}

.password-item .name .favorited {
  color: rgb(255, 170, 42);
}

.password-item .icon {
  background-color: transparent;
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
}

.password-item .empty-icon {
  text-transform: uppercase;
  /* background-color: rgb(124, 55, 252); */
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}

/* alert css */
.warning-alert {
  border: 1px solid rgb(189, 138, 0);
  border-radius: 5px;
  border-left: 5px solid rgb(189, 138, 0);
  background-color: rgba(255, 202, 57, 0.055);
  padding: 10px 15px;
}

.warning-alert .alert-header {
  color: rgb(189, 138, 0);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.warning-alert .alert-header .icon {
  font-size: 1.2rem;
}

.delete-account {
  color: #f34343;
}

/* roles css */
.roles-list-header {
  display: flex;
  justify-content: space-between;
}

.role-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.role-item:hover {
  background-color: #44444470;
}

.role-item .name {
  text-transform: uppercase;
  flex-grow: 1;
}

.role-item .icon {
  color: rgb(255, 170, 42);
  /* opacity: 50%; */
}

.role-count {
  margin: 5px 0;
}

/* filters css */
.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* password generator css */

.form-agree {
  display: flex;
  align-items: flex-start;
}

.form-agree input {
  height: auto;
  margin-top: 3px;
}

.form-group-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-options {
  text-transform: uppercase;
}

.password-generator-form {
  padding: 15px;
  border: 1px solid #474747;
  border-radius: 5px;
}

.password-generator .generator-field {
  display: flex;
  align-items: center;
  position: relative;
}

.password-generator hr {
  margin-bottom: 20px;
}

.password-generator .length {
  flex: 0 1 70px;
}

.password-generator .generator-field input {
  border-radius: 5px 0 0 5px;
}

.password-generator .generator-field .secure {
  font-size: 1.3rem;
  position: absolute;
  right: 55px;
}

.password-generator .generator-field button {
  height: 45px;
  width: 45px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

.generate-use {
  display: flex;
  gap: 10px;
}

.generate-use button {
  flex-grow: 1;
}

.generator-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-footer {
  width: 100%;
  position: absolute;
  bottom: -50px;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 576px) {
  .login-modal {
    width: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .login-modal,
  .registration-modal {
    width: auto;
  }

  .login-title {
    text-align: center;
  }

  .login-modal .modal-body,
  .registration-modal .modal-body {
    /* margin-top: 50px; */
    border: none;
    display: flex;
    flex-direction: column;
  }

  .login-modal .modal-content,
  .registration-modal .modal-content {
    box-shadow: none;
  }

  .login-modal .modal-header,
  .sregistration-modal .modal-header {
    border: none;
    background-color: transparent;
    color: #fff;
    padding-right: 23px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }

  .modal-footer {
    bottom: -80px;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.253);
}

.modal-body {
  border: 1px solid #474747;
  background-color: rgb(27, 27, 27);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.confirmation-modal-body {
  border: 1px solid #474747;
  border-radius: 5px !important;
}

.modal-header {
  border: 1px solid #474747;
  background-color: rgb(34, 34, 34);
  color: #fff;
  padding-right: 23px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.confirmation-modal .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-component {
  width: 100%;
}

/* audit log css */
.audit-log-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
  display: flex;
  align-items: flex-start;
}

.audit-log-item .image {
  background-color: red;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audit-log-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.audit-log-item span {
  opacity: 50%;
}
